@charset "utf-8";
@use "../_foundation/setting" as *;

/*header*/

.l-wrapper {
    position: relative;
}

.l-content {
    width: 100%;
    position: relative;
    z-index: 101;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}

.l-header {
    position: fixed;
    z-index: 11111;
    left: 50%;
    transform: translateX(-50%);
    top: 5.5vh;

    @include bp(sm) {
        top: 40px;
    }

    .is-gnav-open & {
        filter: blur(20px);
    }
}

.l-header-logo {
    position: fixed;
    z-index: 11111;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;

    svg {
        @include bp(sm) {
            width: 101px;
            height: 22px;
        }

        path {
            transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;

            &.main {
                .is-active-2 & {
                    fill: #678666;
                }

                .is-active-3 & {
                    fill: #F4E3D0;
                }
            }
        }
    }

    .is-active & {
        opacity: 1;
        pointer-events: all;
    }
}

.l-gnav__btn {
    display: block;
    right: 3vw;
    position: fixed;
    top: 4.4vh;
    z-index: 111111;
    cursor: pointer;
    opacity: 0;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
    transition-delay: 1s;
    z-index: 11111;

    @include bp(sm) {
        top: 23px;
        right: 5.89vw;
    }

    svg {
        overflow: visible;

        @include bp(sm) {
            width: 66px;
            height: 61px;
        }
    }

    &.is-active svg path {
        stroke: #678666;
    }

    .is-page-loaded & {
        opacity: 1;
    }

    .is-gnav-open & {
        transition-delay: 0s;
        opacity: 0;
    }
}

.l-gnav__btn-line-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 6px;
}

.l-gnav-logo {
    position: absolute;
    top: 5.5vh;
    left: 3.3vw;
    pointer-events: none;
    opacity: 0;

    @include bp(sm) {
        top: 40px;
        left: 5.6vw;
        width: 7rem;
    }

    svg {
        @include bp(sm) {
            width: 67px;
            height: 18px;
        }
    }
    img {
        filter: brightness(0);
    }

    .is-gnav-open & {
        opacity: 1;
    }
}

.l-gnav__btn-circle {
    position: relative;
}

.l-gnav-logo-2 {
    width: 17vw;
    position: absolute;
    bottom: 5.5vh;
    left: 3.3vw;

    @include bp(sm) {
        left: 5.6vw;
        width: 20vw;
        bottom: 20px;
    }
}

.l-gnav__btn-text {
    transition: all 0.3s ease;
    font-family: "Marcellus", sans-serif;
    font-size: 0.8vw;
    letter-spacing: 0.048em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #f4e3d0;

    @include bp(sm) {
        font-size: 12px;
    }

    .is-active & {
        color: #678666;
    }

    .is-gnav-open & {
        opacity: 1;
        color: #806043;
    }
}

.l-gnav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 11111;
    opacity: 0;
    pointer-events: none;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
    background-size: cover;
    background-position: center center;

    .is-gnav-open & {
        opacity: 1;
        pointer-events: all;
    }

    @include bp(sm) {
        width: 100%;
        background-image: url("../../img/top/eve_03.jpg") !important;
    }
}

.l-gnav__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.57vw;
    background: #678666;
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
    padding: 0 2.7777vw;
    min-width: 430px;

    @include bp(sm) {
        width: 330px;
        min-width: auto;
        padding: 0 20px;
    }
}

.l-gnav__close {
    position: absolute;
    top: 0;
    right: 17px;
    z-index: 1111;
    cursor: pointer;
}

.l-gnav__item {
    position: relative;
    opacity: 0;
    filter: blur(4px);
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;

    .is-gnav-open & {
        opacity: 1;
        transition-delay: 0.5s;
        filter: blur(0);
    }

    a {
        display: block;
        font-family: "Marcellus", sans-serif;
        font-size: 2vw;
        color: #f4e3d0;
        padding-bottom: 22px;
        position: relative;
        padding: 0 0 25px;
        text-align: center;

        @include bp(sm) {
            font-size: 5.75vw;
            padding-bottom: 20px;
        }
    }

    p {
        position: relative;
        transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
    }
}

.l-gnav__ttl {
    font-size: 1.53333333vw;
    text-align: center;
    color: #f4e3d0;
    font-family: "Marcellus", sans-serif;
    padding-bottom: 3.8rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #f4e3d0;
    padding-top: 8rem;

    @include bp(sm) {
        font-size: 4.5vw;
        margin-bottom: 2.6rem;
    }
}

.l-gnav__flowbtn {
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #f4e3d0;

    .c-flowbtn__list {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .c-flowbtn__item {
        width: 50%;
    }
}

.l-gnav__copy {
    font-size: 0.73333333vw;
    text-align: center;
    color: #f4e3d0;
    font-family: "Marcellus", sans-serif;
    padding-bottom: 2rem;

    @include bp(sm) {
        font-size: 2vw;
    }
}

.l-main {
    width: 100%;
    position: relative;
    z-index: 3333;
    pointer-events: none;
    opacity: 1;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;

    .is-gnav-open & {
        filter: blur(20px);
    }
    .is-page-loaded & {
        pointer-events: all;
    }
}