/*color*/
/*add color*/
/*font-family*/
/*add font-family*/
/*text-shadow*/
/*media query break point*/
/*grid settings*/
/* media query */
.slider {
  width: 100%;
  margin: 0 auto;
  padding: 0 10vw;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .slider-sp {
    width: 100%;
    margin: 0 auto;
    padding: 0 10vw;
    overflow: hidden;
    position: relative;
  }
}
.slider-sp.js-single {
  padding: 0 5% !important;
}
.slider.js-single {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .slider.js-single {
    padding: 0 5% !important;
  }
}

.slider-wrapper {
  overflow: visible;
  position: relative;
  z-index: 1;
  touch-action: pan-y;
}
@media only screen and (max-width: 768px) {
  .slider-wrapper-sp {
    overflow: visible;
    position: relative;
    z-index: 1;
    touch-action: pan-y;
  }
}

.slides {
  display: flex;
  position: relative;
  top: 0;
  left: -33.3333333333%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}
@media only screen and (max-width: 768px) {
  .slides-sp {
    display: flex;
    position: relative;
    top: 0;
    left: -33.3333333333%;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    touch-action: pan-y;
  }
  .js-single .slides-sp {
    position: static;
  }
}
.js-single .slides {
  position: static;
}

.slides.shifting {
  transition: left 0.4s ease-out;
  pointer-events: none;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 768px) {
  .slides-sp.shifting {
    transition: left 0.4s ease-out;
    pointer-events: none;
    touch-action: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}

.slides.dragging {
  pointer-events: none;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 768px) {
  .slides-sp.dragging {
    pointer-events: none;
    touch-action: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}

.slide {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
@media only screen and (max-width: 768px) {
  .slide-sp {
    flex: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 2px;
  }
}

.js-slide {
  will-change: transform, opacity;
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.js-single .control, .js-none .control {
  display: none;
}

.slider-prev,
.slider-next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 8%;
}

.slider-next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 8%;
}

.slider-prev:active,
.slider-next:active {
  transform: scale(0.8);
}

.slider-dotcont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-dotcont-sp {
  display: none;
}
@media only screen and (max-width: 768px) {
  .slider-dotcont-sp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.js-single .slider-dotcont-sp, .js-none .slider-dotcont-sp {
  display: none;
}
.js-single .slider-dotcont, .js-none .slider-dotcont {
  display: none;
}

.slider-control {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E4E4E4;
  border-radius: 50px;
  margin-right: 1rem;
}

.slider-dots {
  text-align: center;
  margin: 2rem 0;
  display: flex;
}

.slider-dots span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 10px;
  background-color: #333;
  margin: 10px 4px;
  cursor: pointer;
  opacity: 0.25;
}

.slider-dots span.active {
  opacity: 0.75;
}

.inner {
  width: 90%;
  background: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .inner-sp {
    width: 90%;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.js-single .inner-sp {
  width: 100% !important;
}
.js-single .inner {
  width: 100% !important;
}

.thumb {
  cursor: pointer;
  aspect-ratio: 10/5.57;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=slider.css.map */